*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 60%;
    margin: 30px auto;
    border: 1px solid darkgrey;
    text-align: center;
    line-height: 50px;
}

i{
    text-align: center;
}

.fa-train-subway{
    font-size: 60px;
    padding-top: 20px;
}
